<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/sidebar.css" rel="stylesheet" />
</head>
<body>
    <div class="sidebar">
        <a class="table-active" onclick="location.href = '@Url.Action("Display", "Projects", new { filter = "All" })'">All</a>
        <a onclick="location.href = '@Url.Action("Display", "Projects", new { filter = "Personal" })'">Personal</a>
        <a onclick="location.href = '@Url.Action("Display", "Projects", new { filter = "Collaborative" })'">Collaborative</a>
        <a onclick="location.href = '@Url.Action("Display", "Projects", new { filter = "Favorite" })'">Favorite</a>
    </div>
</body>
</html>